<!DOCTYPE html>
<html lang="en">

<head>
  <%- include ("../partials/head.ejs") %>
    <title>Matkaklubi</title>
</head>

<body>
  <div class="headerSection d-flex">
    <div class="container">
      <%- include ("../partials/header.ejs") %>
        <div class="row2 d-flex">
          <div class="headerSection-H col-6">
            <div class="row3 d-flex" id="rowh2">
              <h2>
                CLIMB FOR BETTER
              </h2>
              <img src="Assets/ButterflyBrown.png" alt="" class="bflyBr">
            </div>
            <div class="row3 d-flex">
              <img src="Assets/ButterflyBlue.png" alt="" class="bflyBl">
              <h1>
                GET OUT NOW
              </h1>
            </div>
            <div class="row3">
              <h3>
                JOIN US FOR THE WEEKEND
              </h3>
            </div>
            <div class="row3 d-flex" id="rowa">
              <a href="#">VIEW UPCOMING TREKS</a>
            </div>
          </div>
          <div class="headerSection-I col-6">
            <img src="Assets/Image.png" alt="" class="hikerImg">
            <img src="Assets/Shadow.png" alt="" class="shadowImg">
          </div>
        </div>
    </div>
  </div>
  <div class="treksSection container">
    <div class="row">
      <% for(let i=0; i < hikes.length; i++) { %>
      <div class="col-md-4 card">
        <img class="card-img-top" src="<%= matkad[i].imgURL %>"">
        <div class="card-body">
          <h4 class="card-title"><%= matkad[i].name %></h4>
          <p>
            <%= matkad[i].description %>
          </p>
          <a href="#" class="btn btn-primary">Register</a>
        </div>
      </div>
      <% } %>
    </div>
  </div>
</body>

</html>